{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>Document</title> 
    <style>
        h1{
            text-align: center;
        }
        body{
            /* background-color: blueviolet; */
            /* color: aliceblue; */
        }
        .img-fluid{
            border: 1px solid;
            border: radius 10px;
        }
    </style>
</head>
<body>
    <div class="container my-2 text-align-center">
   <h1><b> Unused Medicine Donation System </b></h1>

    <p>
        This medicine donator project is to prepare a portal for the collection of unused medicine for further utilization by a needy person. The website must be like user can donate the unused medicine to NGO. That NGO can help needy people. The user can donate the medicine. Many poor people who do not afford to buy their own medicines, with help of this website people can get the treatment and medicines to cure the respective diseases, the unused medicine will be utilized.

    </p>
    
    <h2 style="text-align: center;">
    <b>    Unused Medicine Donation </b>
    </h2> 
   <div class="row">
    <div class="col-6">
        <img src="{% static 'images/bb.jpg' %}" alt="My image" class="img-fluid my-2">

    </div>
    <div class="col-6"> 
        To meet the increasing demand for improvements in the health care facilities & services we can utilize the power of internet technology & its wide network, by which people can help each other with just one click from their phone. The Medicine Donation system proposed here aims at providing an online platform for donating medicines or unused medicines to needy people. Users can register themselves on this system by submitting their necessary details.<hr>
        <p>
            Many people in India live in extreme poverty. So, it becomes difficult for those people with low income to pay for their health care and medication. As a result, they live with several diseases and as a result, the number of deaths increases daily. Apart from that, there are various people who are overdosing on drugs even after they have stopped their medication. Here, we have set up a website for donating medicines to NGOs
        </p>
    </div>
    <div class="col-6"> 

    </div> 
   </div>



    </div>
</body>
</html>